//enjoy it
{
name=butterfly
musicPath=
scorePath=
rank=25
writer=
songer=
scoreMaker=
isDownLoad=false
musicRemotePath=https://bestdori.com/assets/jp/sound/bgm010_rip/bgm010.mp3
scoreRemotePath=https://bestdori.com/assets/jp/musicscore/musicscore20_rip/butterfly_expert.txt
lastRank=
}
{
name=God knows...
musicPath=
scorePath=
rank=28
writer=
songer=
scoreMaker=
isDownLoad=false
musicRemotePath=https://bestdori.com/assets/jp/sound/bgm007_rip/bgm007.mp3
scoreRemotePath=https://bestdori.com/assets/jp/musicscore/musicscore10_rip/godknows_expert.txt
lastRank=
}
{
name=secret base～君がくれたもの～
musicPath=
scorePath=
rank=25
writer=
songer=
scoreMaker=
isDownLoad=false
musicRemotePath=https://bestdori.com/assets/jp/sound/bgm018_rip/bgm018.mp3
scoreRemotePath=https://bestdori.com/assets/jp/musicscore/musicscore20_rip/secretbase_expert.txt
lastRank=
}

